
@import url( '../home/home.component.css'   );
table{
width: 100%;
padding: 10%;
font-family: 'Times New Roman', Times, serif;
line-height: 200%;
}

img{
width:50%;
height: 50%;
padding: 0%;
float: right;
}
.image-text-around{
    margin-right:10px;
    }
span{
font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
app-footer{
    padding-top: 10%;
    clear: both;
}
