<div class="wrapper">

  <div class="top">
    <h1> Angular Demo </h1>
    <span>This is a sample for Angular</span>
  </div>

  <div *ngIf='productMatchID'>
    <table>
      <tr>{{productMatchID.productName}}</tr>
      <tr>{{productMatchID.price}}</tr>
      <tr>{{productMatchID.releaseDate}}</tr>
      <tr> {{productMatchID.productCode}}</tr>
      <tr>{{productMatchID.price}}</tr>
    <tr><img [src]='productMatchID.imageUrl' alt=""></tr>

    </table>
  </div>

  <div class="search">
    <button type="button" (click)='goBack()'>Back</button>
  </div>
  <div class="footer">
    <h1 class="pageTitle">Some text </h1>
  </div>

</div>