<div class="wrapper">

  <div class="top">
    <h1> Angular Demo </h1>
    <span>This is a sample for Angular</span>
  </div>

  <div *ngIf='productMatchID'>
    <table>
      <tr>
        <td>ProductName</td>{{productMatchID.productName}}</tr>
      <tr>
        <td>Price</td>{{productMatchID.price}}</tr>
      <tr>
        <td>ReleaseDate</td>{{productMatchID.releaseDate}}</tr>
      <tr>
        <td>ProductCode</td> {{productMatchID.productCode}}</tr>
      <tr>
        <td>price</td>{{productMatchID.price}}</tr>
    <tr>
      <td>Image</td><img [src]='productMatchID.imageUrl' alt=""></tr>
    </table>
  </div>

  <div class="search">
    <button type="button" (click)='goBack()'>Back</button>
  </div>
  <div class="footer">
    <h1 class="pageTitle">Some text </h1>
  </div>

</div>