<div class="wrapper">
  
  <div class="top">
  <h1> Angular Demo </h1> 
  <span>This is a sample for Angular</span>
  </div>
  
  <ul class="navigation">
    <li><a href="" title="Home">Home</a></li>
    <li><a href="" title="About us">About us</a></li>
    <li><a href="" title="Portfolio">Portfolio</a>
    <li><a href="" title="Contact">Contact</a></li>
    <div class="clear"></div>
  </ul>
  <div class="main">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum recusandae consequatur, perspiciatis velit dolor magni rerum libero quos laudantium labore veritatis distinctio deleniti rem ex, ab assumenda quo ut nisi.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum recusandae consequatur, perspiciatis velit dolor magni rerum libero quos laudantium labore veritatis distinctio deleniti rem ex, ab assumenda quo ut nisi.</p>
  <table *ngIf='products &&products.length'>
      <tr>
    <th>productId</th>
    <th>productName</th>
    <th>productCode</th>
    <th>releaseDate</th>
    <th>price</th>
    <th>Image</th>
  </tr>
    <tr *ngFor='let pizza of products'>
      <td>{{pizza.productId}}</td>
      <td>{{pizza.productName}}</td>
      <td>{{pizza.productCode}}</td>
      <td>{{pizza.releaseDate}}</td>
      <td>{{pizza.price}}</td>
      <td class="images"><img [src]='pizza.imageUrl' alt=""></td>
    </tr>
  </table>
  </div>
  <div class="footer">
    <h1 class="pageTitle">Some text </h1>
  </div>
  
</div>