<div class="wrapper">

  <div class="top">
    <h1> Angular Demo </h1>
    <span>This is a sample for Angular</span>
  </div>

  <ul class="navigation">

    <li><a [routerLink]="['/home']"> Home</a></li>
    <li><a [routerLink]="['/details']"> Details</a></li>
    <li><a href="" title="Portfolio">Portfolio</a>
      <li><a href="" title="Contact">Contact</a></li>
      <div class="clear"></div>
  </ul>
  <div class="main">
    <div class="search">
      <button type="button">Search</button>
      <input type="text" [(ngModel)]='listFilter' name="searchText" value="search">
      <span class="searchAdv">Please Check our Menu for more products 
</span>
    </div>
    <table *ngIf='products &&products.length'>
      <tr>
        <th>ProductId</th>
        <th>Product Name</th>
        <th>Product Code</th>
        <th>Release Date</th>
        <th>Price</th>
        <th>Image</th>
      </tr>
      <tr *ngFor='let pizza of products|pizzesFilter:listFilter'>
        <td>{{pizza.productId}}</td>
        <td><a [routerLink]="['/details',pizza.productId]">  {{pizza.productName}}</a></td>
        <td>{{pizza.productCode}}</td>
        <td>{{pizza.releaseDate}}</td>
        <td>{{pizza.price |currency:'USD':true}}</td>
        <td class="images"><img [src]='pizza.imageUrl' alt=""></td>
      </tr>
    </table>
  </div>


  <app-footer></app-footer>
</div>